* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
.form {
  border: none;
  border-bottom: 1px solid #d8d8d8;
  padding-bottom: 20px;
  width: 100%;
}
.form__content,
.form__legend {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.form__legend {
  align-content: center;
  align-items: center;
  cursor: pointer;
  height: 60px;
}
.form__legend__icon1 {
  color: #ec9969;
  font-size: 18px;
  height: 18px;
  margin-right: 10px;
  width: 21px;
}
.form__legend__text {
  color: #54585a;
  font-family: Open Sans, sans-serif;
  font-size: 18px;
  font-weight: 700;
}
.form__legend__icon2 {
  color: #54585a;
  height: 18px;
  width: 16px;
}
.header {
  display: flex;
  justify-content: center;
}
.header_img {
  height: 50px;
  margin: 30px;
  width: 201px;
}
@media (min-width: 768px) {
  .header {
    justify-content: left;
  }
}
.footer_adalab {
  align-items: center;
  border-top: 1px solid #d8d8d8;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.footer_awesome {
  color: #6b6b6b;
  font-family: Open Sans;
  font-size: 14px;
  margin-bottom: 12px;
  margin-top: 18px;
  opacity: 0.5;
}
.footer_logo {
  height: 90px;
  width: 103px;
}
@media (min-width: 768px) {
  .footer_adalab {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 40px;
  }
  .footer_awesome {
    margin-top: 18px;
  }
  .footer_logo {
    margin-top: 10px;
  }
}
.form__label {
  color: #54585a;
  font-family: Open Sans, sans-serif;
  font-size: 14px;
  line-height: normal;
  margin-left: 39px;
}
.form__radios {
  display: flex;
}
.form__radio {
  -webkit-appearance: none;
  appearance: none;
  background-clip: content-box;
  background-color: #fff;
  border: 1px solid #a0c0cf;
  border-radius: 50%;
  display: flex;
  display: inline-block;
  height: 15px;
  margin-bottom: 25px;
  margin-right: 10px;
  width: 15px;
}
.form__radio:checked {
  background-color: #fff;
  border: 5px solid #4397f0;
}
.form__values {
  display: flex;
  flex-direction: row;
}
.form__color {
  height: 25px;
  width: 30px;
}
.form__color--1 {
  background-color: #114e4e;
}
.form__color--2 {
  background-color: #438792;
}
.form__color--3 {
  background-color: #a2deaf;
}
.form__color--4 {
  background-color: #420101;
}
.form__color--5 {
  background-color: #bd1010;
}
.form__color--6 {
  background-color: #e95626;
}
.form__color--7 {
  background-color: #3e5b65;
}
.form__color--8 {
  background-color: #eab052;
}
.form__color--9 {
  background-color: #a0c0cf;
}
.form__items {
  align-items: flex-start;
  color: #114e4e;
  display: flex;
  flex-direction: column;
  font-family: Open Sans, sans-serif;
  font-size: 14px;
  font-weight: 700;
  justify-content: center;
  padding-top: 20px;
}
.form__items__box {
  align-items: center;
  border: 1px solid #a2deaf;
  height: 30px;
  margin-top: 7px;
  opacity: 0.5;
  padding-left: 10px;
  width: 281px;
  width: 100%;
}
.collapsed {
  display: none;
}
.action {
  padding-right: 20px;
  text-align: center;
}
.action__upload-btn {
  align-items: center;
  background-color: #ec9969;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  height: 30px;
  justify-content: center;
  width: 140px;
}
.action__hiddenField {
  display: none;
}
.profile {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.profile__image,
.profile__preview {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #a2deaf;
}
.profile__image {
  height: 30px;
  width: 30px;
}
.form__items-image {
  display: flex;
  padding: 10px 0;
}
.rotate .fa-angle-down {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.form .form__contextcreate {
  align-items: center;
  display: flex;
  justify-content: center;
}
.form .button_create {
  background-color: #ec9969;
  border: none;
  border-radius: 15px;
  color: #fff;
  font-family: Open Sans, sans-serif;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  margin-bottom: 30px;
  text-transform: uppercase;
  width: 199px;
}
.form .error_create {
  color: red;
  font-size: 16px;
}
.form .card__new,
.form .error_create {
  font-family: Open Sans, sans-serif;
  font-weight: 700;
  text-align: center;
}
.form .card__new {
  color: #54585a;
  font-size: 18px;
}
.form .card__share {
  font-family: Open Sans, sans-serif;
  font-weight: 600;
  height: 17px;
  padding: 20px 0;
  text-align: center;
}
.form .card__box,
.form .card__share {
  color: #ec9969;
  font-size: 12px;
  margin: 5px 0 10px;
  width: 292px;
}
.form .card__box {
  border: 1px solid #fff;
  font-family: OpenSans;
}
.form .button_share {
  background-color: #00a0f5;
  border: none;
  border-radius: 3px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.32);
  color: #fff;
  font-size: 14px;
  height: 30px;
  margin-top: 20px;
  padding: 6px 10px;
  text-align: center;
  width: 181px;
}
.js__card {
  display: none;
}
.js__collapsedshare {
  border-top: 1px solid #d8d8d8;
  padding: 30px 0;
}
.js__collapsedshare,
.preview {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.preview {
  background-image: url('../images/fondo-5.jpg');
  background-size: cover;
  height: 100vh;
  justify-content: center;
  width: 100%;
}
@media (min-width: 768px) {
  .preview {
    border-radius: 6px;
    height: 100vh;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .preview {
    height: 100vh;
    width: 100%;
  }
}
.preview__reset {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 15px;
  color: #54585a;
  cursor: pointer;
  font-size: 12px;
  height: 30px;
  width: 75px;
}
.cards__reset--text {
  font-family: Open Sans, sans-serif;
  padding: 0 5px;
  text-transform: uppercase;
}
.main {
  background-image: url(../../static/media/fondo-5.a1b3cbea07da944bc4f3.jpg);
  background-size: cover;
  justify-content: center;
  padding: 50px 50px 0;
}
.main,
.main__container {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.main__container {
  align-content: center;
}
.main__container--image {
  height: 63px;
  margin-bottom: 35px;
  width: 350px;
  width: 250px;
}
@media (min-width: 768px) {
  .main__container--image {
    height: 105px;
    margin: 150px 35px 35px;
    width: 419px;
  }
}
.main__container--title {
  color: #ec9969;
  font-family: Merriweather;
  font-size: 19.2px;
  text-align: center;
}
@media (min-width: 768px) {
  .main__container--title {
    font-size: 24px;
  }
}
.main__container--description {
  color: #114e4e;
  font-family: Open Sans, sans-serif;
  font-size: 0.8em;
  text-align: center;
  width: 264px;
}
@media (min-width: 768px) {
  .main__container--description {
    font-size: 16px;
    width: 331px;
  }
}
.main__container--icons {
  background-color: #d8d8d8;
  border-radius: 80px 20px;
  color: #438792;
  display: flex;
  font-family: Open Sans, sans-serif;
  font-size: 12.8px;
  height: 80px;
  justify-content: space-around;
  margin-top: 20px;
  width: 268px;
}
@media (min-width: 768px) {
  .main__container--icons {
    font-size: 16px;
    width: 400px;
  }
}
.main__btn {
  background-color: #438792;
  border: none;
  border-radius: 100px;
  color: #fff;
  font-size: 16px;
  height: 42px;
  margin: 20px 0;
  text-transform: uppercase;
  width: 129px;
}
@media (min-width: 768px) {
  .main__btn {
    margin-top: 150px;
  }
}
.main__btn:hover {
  background-color: #eab052;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}
.fa__icon {
  font-size: 22.4px;
}
@media (min-width: 768px) {
  .fa__icon {
    font-size: 28px;
  }
}
a {
  font-family: Open Sans, sans-serif;
}
.icons__title {
  color: #54585a;
}
.icon__font {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.bodyIndex {
  grid-template-rows: 1fr 95px;
}
.bodyCreate,
.bodyIndex {
  grid-column-gap: 0;
  grid-row-gap: 0;
  display: grid;
  grid-template-columns: 1fr;
  height: 100vh;
}
.bodyCreate {
  grid-template-rows: 115px 1fr 110px;
}
.main2 {
  background: linear-gradient(180deg, #f5f5f5, #fff 9%);
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .main2 {
    flex-direction: row-reverse;
    padding: 40px;
  }
}
.main2__form {
  padding: 30px;
  width: 100%;
}
@media (min-width: 768px) {
  .main2__form {
    height: auto;
    width: 50%;
  }
}
.container__cards {
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.35);
  margin: 20px 0 0;
  padding-top: 21px;
  width: 240px;
}
.card__text {
  position: relative;
}
.cards__name {
  color: #114e4e;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  margin: 0 14px 4px 15px;
}
.cards__job {
  color: #54585a;
  font-family: Montserrat;
  font-size: 1rem;
  margin: 4px 52px 10px 15px;
}
.rectangle {
  background-color: #438792;
  height: 100%;
  position: absolute;
  top: 0;
  width: 5px;
}
.cards__img {
  background: url(../../static/media/foto-de-perfil-en-linkedin.2c5a56fd6821ba793595.jpeg)
    50% no-repeat;
  background-size: cover;
  height: 200px;
  width: 240px;
}
.cards__logos {
  display: flex;
  padding: 10px 0 12px 10px;
}
.cards__logos--redes {
  align-items: center;
  border: 2px solid #a2deaf;
  border-radius: 16px;
  display: flex;
  height: 32px;
  justify-content: center;
  margin: 0 0 0 10px;
  text-align: center;
  text-decoration: none;
  width: 32px;
}
.links {
  font-size: 18px;
}
.links,
.palette-1 .cards__name {
  color: #114e4e;
}
.palette-1 .cards__logos--redes {
  border-color: #a2deaf;
}
.palette-1 .links {
  color: #114e4e;
}
.palette-1 .rectangle {
  background-color: #438792;
}
.palette-2 .cards__name {
  color: #420101;
}
.palette-2 .cards__logos--redes {
  border-color: #e95626;
}
.palette-2 .links {
  color: #420101;
}
.palette-2 .rectangle {
  background-color: #bd1010;
}
.palette-3 .cards__name {
  color: #3e5b65;
}
.palette-3 .cards__logos--redes {
  border-color: #a0c0cf;
}
.palette-3 .links {
  color: #3e5b65;
}
.palette-3 .rectangle {
  background-color: #eab052;
}
.profile__avatar {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #ccc;
  height: 300px;
  width: 300px;
}
.get-avatar {
  margin: 30px 0;
}
.get-avatar,
.get-avatar__label {
  align-items: center;
  display: flex;
}
.get-avatar__label {
  background: #ff1493;
  border: 0;
  border-radius: 15px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 20px;
  justify-content: center;
  padding: 10px 20px;
}
.get-avatar__upload-field {
  display: none;
}
.get-avatar__preview {
  background-color: #fff;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #ccc;
  height: 50px;
  margin-left: 15px;
  width: 50px;
}
/*# sourceMappingURL=main.2e02f8d4.css.map*/
